.quate-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url('/ui/cagin-kargi-Qzp60FT380E-unsplash.jpg');
    background-position: center;
    background-size: cover;   
}