.continue-with::after{
    content: '';
    width: 30%;
    height: 1px;
    position: absolute;
    top: 45%;
    left: 0;
    background-color: rgb(177, 175, 175);
}
.continue-with::before{
    content: '';
    width: 30%;
    height: 1px;
    position: absolute;
    top: 45%;
    right: 0;
    background-color: rgb(177, 175, 175);
}