<section class="repassUI text-center pt-6">


    <div class="flex items-center gap-3 my-1">
        <div class="flex-1 h-px bg-gray-200"></div>
        <span class="text-gray-400 text-xs whitespace-nowrap">Or Continue with</span>
        <div class="flex-1 h-px bg-gray-200"></div>
    </div>

    <div class="flex justify-center md:gap-14 sm:gap-6 gap-3 py-4">
        <a href="#">
            <div class="flex justify-center items-center md:w-24 md:h-14 sm:w-14 sm:h-12 w-10 h-8  bg-gray-200 rounded-xl">
                <i class="fa-brands  fa-facebook-f text-prime md:text-4xl sm:text-2xl text-xl"></i>
            </div>
        </a>
        <a href="#">
            <div class="flex justify-center items-center md:w-24 md:h-14 sm:w-14 sm:h-12 w-10 h-8  bg-gray-200 rounded-xl">
                <i class="fa-brands  fa-google text-prime  md:text-4xl sm:text-2xl text-xl"></i>
            </div>
        </a>
        <a href="#">
            <div class="flex justify-center items-center md:w-24 md:h-14 sm:w-14 sm:h-12 w-10 h-8  bg-gray-200 rounded-xl">
                <i class="fa-brands  fa-apple text-prime  md:text-4xl sm:text-2xl text-xl"></i>
            </div>
        </a>
    </div>
    @if (loginPage()) {
    <p class="capitalize text-gray-600 pt-4">Don't have account? <a routerLink="/auth/register"
            class="text-prime">Register Now</a></p>
    }@else{
    <p class="capitalize text-gray-600 pt-4">Already have account? <a routerLink="/auth/login" class="text-prime">Login
            Now</a></p>
    }

</section>