<footer id="footer" class="bg-second py-8">
    <div class="w-[90%] m-auto">
        <div class="footer-top grid grid-cols-2 md:grid-cols-4 gap-2 border-b-[.5px] border-gray-400 pb-4">
            <div class="foot-cont-1  p-3">
                <h3 class="  text-gray-100 text-base mb-2 "><img src="/logo.png" class="size-[30px] inline-block rounded-full" alt="logo"> Smart LifeStyle</h3>
                <p class="text-gray-300 text-sm">Your all-in-one AI companion for tracking health, fitness, and daily
                    habits.</p>
                <div class="download-images flex gap-4 mt-4">
                    <a href="#"><img src="/images/get-google-play.png" class="w-[80px]" alt="google Play"></a>
                    <a href="#"><img src="/images/get-apple-store.png" class="w-[80px]" alt="Apple Store"></a>
                </div>
            </div>
            <div class="footer-cont-2  p-3">
                <h3 class=" text-gray-100 text-base mb-2">Contact</h3>
                <ul>
                    <li class="text-gray-300 text-sm">
                        <a href="mailto:amirfaizy11@gmail.com">
                            <i class="fa-solid fa-envelope text-prime"></i> Email
                        </a>
                    </li>
                    <li class="text-gray-300 text-sm">
                        <a href="mailto:amirfaizy11@gmail.com">
                            <i class="fa-solid fa-phone text-prime"></i> Phone
                        </a>
                    </li>
                    <li class="text-gray-300 text-sm">
                        <a href="mailto:amirfaizy11@gmail.com">
                            <i class="fa-solid fa-location-dot text-prime"></i> Location
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-cont-3  p-3 text-cen" >
                <h3 class=" text-gray-100 text-base  mb-2">Links</h3>
                <ul class="footer-icons text-sm  text-gray-300">
                    <li><a href="#">Home </a></li>
                    <li><a href="#">Featured</a></li>
                    <li><a href="#">How it work</a></li>
                    <li><a href="#">Modules</a></li>
                </ul>
            </div>
            <div class="footer-cont-4  p-3 text-cen" >
                <h3 class=" text-gray-100 text-base  mb-2">Support 🛠️</h3>
                <ul class="footer-icons text-sm  text-gray-300">
                    <li><a href="#">Help Center </a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Report a Problem</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom flex justify-between items-center mt-4 px-6">
            <p class=" text-gray-400 text-sm"><span class="font-bold  text-prime">&copy;</span> 2024 Smart Fit. All rights reserved.</p>
            <div class="footer-icons text-lg flex gap-4 text-prime">
                <i class="fa-solid fa-shield-halved"></i>
                <i class="fa-solid fa-cloud"></i>
            </div>
        </div>
    </div>
</footer>